<%-include("header");-%>


					<nav id="main-menu" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
						<ul class="horizontal-navigation">
							<%if(email!==1 && active1===1 || active2===1){%>
							<li class="menu-home" itemprop="url"><a href="/" title="Home" itemprop="name">Home</a></li>
							<li class="menu-blog active" itemprop="url"><a href="/blog.ejs" title="Blog" itemprop="name">Blog</a></li>
							<li class="menu-contact" itemprop="url"><a href="/compose.ejs" title="Compose" itemprop="name">Compose</a></li>
							<li class="menu-blog" itemprop="url">
								<a href="/profile.ejs" title="author" itemprop="name"
								  >Profile</a
								>
							<% if(active1===0 && active2===0) { %>

								<li class="menu-blog" itemprop="url">
								  <a href="/signin.ejs" title="SignIn" itemprop="name"
									>SignIn</a
								  >
								</li>
				
								<%}%> <% if(active2===1 || active1===1) { %>
				
								<li class="menu-blog" itemprop="url">
								  <a href="/logout.ejs" title="logout" itemprop="name"
									>Logout</a
								  >
								</li>
				
								<%}%>


							<%}else{%>	

								<li class="menu-blog" itemprop="url">
									<a href="/admin" title="author" itemprop="name"
									  >admin</a
									>
	
									
					
					
									<li class="menu-blog" itemprop="url">
									  <a href="/logout.ejs" title="logout" itemprop="name"
										>Logout</a
									  >
									</li>
							<%}%>	
						</ul>
					</nav>

				</div> 
			</div> 
		</div>

		<div id="page-title">
			<div class="container">
				<div class="row">

					<h1 class="entry-title" itemprop="headline">Profile</h1>
					<p class="description" itemprop="description">About the author</p>

				</div>
			</div>
		</div>

	</div>

	<main id="content" role="main">

		<div class="section">
			<div class="container">
				<div class="row">

					<div class="three-quarters-block">
						<div class="content">

							<div class="author-profile" itemscope itemtype="http://schema.org/Person">
								<div class="one-third-block">
									<div class="author-image">
										<img src="/author.jpg" alt="Author" itemprop="image">
									</div>
								</div>
								<div class="two-thirds-block">
									<h2 class="author-name">
								          <%if(email!==1){%>
										<span itemprop="name"><b><%=authorName.firstname%></b></span>
										  <%}%>
									</h2>
									
									

									<div class="author-description">
										<%if(email!==1){%>

                                          <p><%=aboutAuthor.about%></p>
										  <%if(authorName.username!==name){%>
											<a href="mailto:<%=aboutAuthor.email%>?&body=Public blog user"><b><%=aboutAuthor.email%></b></a>
											
										  <%}%>
										 <% if(authorName.username===name){ %>
											<a class="more button" href="/editprofile.ejs"
											>Edit Profile</a
										  >
										  <%}%>

										  <%}%>
									</div> 
									
								</div>
							</div>
							<h2 class="posts-by-author-title">Posts by Author</h2>

							<%if(posts.length>0){%>
                                 <% posts.forEach(function(i){ %>
							<div class="posts-by-author">


								<article class="post summary hentry" itemscope itemprop="blogPost" itemtype="http://schema.org/BlogPosting">

									<header class="entry-header">

										<h2 class="entry-title" itemprop="headline"><b><%=i.title%></b></h2>

										<div class="entry-meta">

											<span class="post-date">
												<i class="fa fa-clock-o fa-fw"></i> <span class="updated"><%=i.date%></span>
											</span>

											<span class="post-author">
												<i class="fa fa-user fa-fw"></i> Written by <span class="vcard"><a class="fn url" href="/author.ejs/<%=i.username%>"><b><%=i.username%></b></a></span>
											</span>


										</div> 

									</header>
                                          
									
									

									<div class="entry-summary" itemprop="articleBody">

										<p><%=i.content.substring(0,100) + " ..."%></p>
										<a class="more button" href="/article.ejs/<%=i.title%>">Read More</a>
										</div>

									</header>

									

									

								</article>
							
							</div>
						<%})%>

							<%}else if(posts.length===0){%>

                                <p>No posts from this user</p>
					<%	}	%>

						</div>
					</div>
					
					<div class="one-quarter-block" role="complementary">
						<div class="sidebar">

							<div class="search widget">
								<form class="widget-form" action="/search" method="post" role="search">
									<label>
										<span class="screen-reader-text">Search this website:</span>
										<input type="search" class="search-field" placeholder="Search &hellip;" value="" name="search" title="Search" />
									</label>
									<a href="/search"><button><i class="fa fa-search"></i></button></a>
								</form>
							</div>
							

						</div> 
					</div>

				</div>
			</div>
		</div>

	</main>

	<%-include("footer");-%>
